<div class="card">
  <div class="card-body">
    <%= form_with model: @note do |f| %>
      <% if @note.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>
          <ul>
            <% note.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class=" col-md-6 form-group">
          <%= f.label :Nombre %>
          <%= f.text_field :name,class: 'form-control' %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Egregar producto</label><br>
          <div class="text-dark">
            <%= f.select :product_ids, options_from_collection_for_select(@products, :id, :name, @note.products.pluck(:id)), {}, multiple: true, id: "product_ids", class: "form-control select-product"%>
          </div>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Guardar", class:"btn btn-sm btn-success mt-3"%>
      </div>
    <% end %>
  </div>
</div>