<%= form_for @note do |f| %>
  <% if @note.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>
      <ul>
        <% @note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row border border-primary">
    <div class=" col-md-12 form-group my-3">
      <%= f.text_field :name, class: 'form-control', placeholder: 'Nombre de la nota' %>
    </div>
  </div>

  <div class="row border border-top-0 border-primary">
    <table class="table table-borderless">
      <thead>
        <tr class="bg-info text-white">
          <th scope="col-3">Tipo de nota:</th>
          <th scope="col-9">Seleccione Cliente / Proveedor:</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= f.select( :transaction_type, Note.transaction_types.keys, {class: "form-control"}) %></td>
          <td><%= f.collection_select(:entity_id, @entities, :id, :name, {}, {class: "form-control"}) %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3 class="my-2">Campos</h3>
  <table id='add' class="table table-borderless">
    <thead>
      <tr id='table' class="bg-primary text-white">
        <th class="w-50">Seleccione Producto</th>
        <th class="w-20">Cantidad</th>
        <th class="w-20">Acciones</th>
        <div class="row border border-primary">
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :note_products do |notes_product| %>
        <%= render 'add_fields', form: notes_product %>
      <% end %>
    </tbody>
  </table>
  <div class="form-actions mb-3 btn btn-primary btn-xs">
    <%= link_to_add_nested(f, :note_products, '#add', tag: 'span', partial: 'add_fields') do %>
      <span><span class= "" >Agregar Campo</span></span>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar", class:"btn btn-sm btn-success mt-3"%>
  </div>
<% end %>