<h1>Nueva Nota</h1>
<div class="card">
  <div class="card-header">
    <h2 class="bg-primary px-2 text-white"><%= @note.name %></h2>
    <div class="bg-info" >
      <p class="card-title px-2">Nombre del Cliente: Fulanito de Tal</p>
      <p class="card-title px-2">Dirección: los cocos</p>
      <p class="card-title px-2">Teléfono: los 5465353</p>
    </div>
    <div class="bg-info" > 
      <p class="card-title px-2 py-1 text-white"> Fecha: <%= I18n.l(@note.created_at, format: '%d/%m/%Y') %></p>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <% @note.note_products.each do |note_product|%>
            <tr>
              <td> <%= note_product.product.name %></td>
              <td><%= note_product.product.description %></td>
              <td><%= note_product.quantity %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <div class="card-body">
        <%= link_to "Crear nueva nota", new_note_path, class: "card-link" %>
        <%= link_to "Editar", edit_note_path(@note), class: "card-link" %>
        <%= link_to "Volver", notes_path, class: "card-link" %>
        <%= link_to "Eliminar", @note, data: {turbo_method: :delete}, class: "card-link" %>
      </div>
    </div>
  </div>
</div>
