<section class=" row justify-content-center">
  <div class="col-md-8 p-4 p-md-5 mt-5 border rounded-3 bg-light">
    <h2>Editar datos</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group mb-4">
        <%= f.text_field :name, placeholder: "Nombre y Apellido",class: 'form-control' %>
      </div>

      <div class="form-group mb-4">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Correo Electrónico",class: 'form-control' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group mb-4">
        <%= f.label :Contraseña %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "(déjala en blanco si no quieres cambiarla))",class: 'form-control' %>
        <% if @minimum_password_length %>
          <br />
          <em>6 Caracteres mínimos </em>
        <% end %>
      </div>

      <div class="form-group mb-4">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirmar Contraseña",class: 'form-control' %>
      </div>

      <div class="form-group mb-4">
        <%= f.label :Contraseña %><br />
        <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "(necesitamos su contraseña actual para confirmar sus cambios)",class: 'form-control' %>
      </div>

      <div class="actions d-grid">
        <%= f.submit "Actualizar", class: " w-100 btn btn-lg btn-primary" %>
      </div>
    <% end %>

    <h3>Cancelar mi cuenta</h3>

    <p>¿Disconforme? <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Estas seguro?" }, method: :delete %></p>

    <%= link_to "Regresar", :back %>
  </div>
</section>
