<div class="card mt-5">
  <div class="card-header bg-primary">
    <h1 class="card-title pt-2 text-white">Clientes / Proveedores</h1>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Estatus</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @entities.each do |entity| %>
            <tr id="cliente_<%= entity.id %>" >
              <td><%= entity.name %></td>
              <td><%= entity.address %></td>
              <td><%= entity.phone %></td>
              <td><%= entity.email %></td>
              <% if entity.client? %>
                <td>Cliente</td>
              <% elsif entity.supplier? %>
                <td>Proveedor</td>
              <% end %>
              <td class="actions">
                <%= link_to  entity do %>
                  <i class='bx bxs-show bxs ver'></i>
                <% end%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <%= link_to '+ Agregar Cliente/Proveedor', new_entity_path, class: "btn btn-info btn-sm text-white fw-bold" %>
  </div>
</div>
