<section class="entity">
  <div class="card" style="width: 18rem;">
    <% if @entity.logo.attached? %>
          <%= image_tag @entity.logo, size: "250x200", class:"card-img-top" %>
    <% else %>
      <img src="https://josemejias081.github.io/portafolio/img/Logo-ADsystem.png" class="card-img-top"alt="" width="250" height="200">
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= @entity.name %></h5>
      <p class="card-text"><%= @entity.address %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Teléfono: <%= @entity.phone %></li>
      <li class="list-group-item">Correo: <%= @entity.email %></li>
      <% if @entity.client? %>
        <li class="list-group-item">Estatus: Cliente</li>
      <% elsif @entity.supplier? %>
        <li class="list-group-item">Estatus: Proveedor</li>
      <% end %>
      <li class="list-group-item">Otro:</li>
    </ul>
    <div class="card-body entity">
      <%= link_to "Editar", edit_entity_path(@entity), class: "card-link" %>
      <%= link_to "Volver", entities_path, class: "card-link" %>
      <%= link_to "Eliminar", @entity, data: {turbo_method: :delete},class: "card-link" %>
    </div>
  </div>
</section>


 