<div class="card">
  <div class="card-header bg-primary">
    <h1 class="card-title pt-2 text-white">Nómina</h1>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Cod.</th>
            <th>Nombre</th>
            <th>Correo Electrónico</th>
            <th>Rol</th>
            <th>Fecha de ingreso</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
        <% @users = User.all%>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            <td><%= I18n.l(user.created_at, format: '%d/%m/%Y') %></td>
            <td class="d-grid gap-2"><%= link_to 'Ver', user, class: "btn btn-info btn-block text-white" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <%= link_to '+ Agregar Empleado', new_user_path, class: "btn btn-info btn-sm text-white" %>
  </div>
</div>
