<section>
  <div class="tarjeta">
    <div class="tarjeta-hero tarjeta-hero-bg">
      <% if @user.photo.attached? %>
        <%= image_tag @user.photo, size: "200x200", class:"img avatar" %>
      <% else %>
        <img src="/profile-pic.png" alt="Avatar" width="250" height="250" class="avatar">
      <% end %>
    </div>
    <hr>
    <div>
      <h5 class="tarjeta-title color-tarjeta-title"><%= @user.name %></h5>
      <ul>
        <li><strong>Correo:</strong> <%= @user.email %></li><hr>
        <li><strong>Rol:</strong> <%= @user.role %></li><hr>
        <li><strong>Registrado el:</strong> <%= I18n.l(@user.created_at, format: '%d/%m/%Y') %></li>
      </ul>
    </div>
    <hr>
    <div class="card-footer text-center">
      <%= link_to "Editar", edit_user_path(@user), class: "btn-tarjeta" %>
      <%= link_to "Volver", users_path, class: "btn-tarjeta" %>
      <%= link_to "Eliminar", @user, data: {turbo_method: :delete}, class: "btn-tarjeta" %>
    </div>
  </div>
</section>
