<h1>Clientes</h1>
<div class="row">
  <div class="card">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @clients.each do |client| %>
            <tr id="cliente_<%= client.id %>" >
              <td><%= client.name %></td>
              <td><%= client.address %></td>
              <td><%= client.phone %></td>
              <td><%= client.email %></td>
              <td class="d-grid gap-2">
                <%= link_to 'Ver', client, class: "btn btn-info btn-block text-white" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
