<h1>Nueva categoría</h1>
<div class="card">
  <div class="card-header bg-primary">
    <h5 class="card-title text-white pt-2"><%= @category.name %></h5>
  </div>
  <div class="card-body">
    <p><%= @category.description %></p>
  </div>
  <div class= "card-footer">
    <%= link_to 'Crear categoría', new_category_path, class: "btn btn-sm btn-success" %>
    <%= link_to 'Volver', categories_path, class: "btn btn-sm btn-primary" %>
    <%= link_to 'Editar', edit_category_path(@category), class: "btn btn-sm btn-warning" %>
    <%= link_to 'Eliminar', @category, data: {turbo_method: :delete}, class: "btn btn-sm btn-danger" %>
  </div>
</div>
