<div class="card">
  <div class="card-body">
    <%= form_with model: @product do |f| %>
      <% if @product.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
          <ul>
            <% @product.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-6 form-group">
          <%= f.label :Foto, style: "display: block" %>
          <%= f.file_field :photo, class: 'form-control attachments', placeholder: '' %>
        </div>
        <div class=" col-md-6 form-group">
          <%= f.label :Nombre, style: "display: block" %>
          <%= f.text_field :name,class: 'form-control' %>
        </div>
      </div>

      <div class="row">
        <div class=" col-md-4 form-group"> 
          <%= f.label :Costo, style: "display: block" %>
          <%= f.text_field :cost,class: 'form-control' %>
        </div>
        <div class=" col-md-4 form-group">
          <%= f.label :Existencia, style: "display: block" %>
          <%= f.number_field :stock,class: 'form-control' %>
        </div>
        <div class=" col-md-4 form-group"> 
          <%= f.label :Precio_de_venta, style: "display: block" %>
          <%= f.text_field :price,class: 'form-control' %>
        </div>
      </div>

      <div class="row">
        <div class=" col-md-6 form-group">
          <%= f.label :Descripción, style: "display: block" %>
          <%= f.text_field :description,class: 'form-control' %>
        </div>
        <div class="col-md-6 form-group">
          <label>Categorías</label><br>
          <div class="text-dark">
            <%= collection_select(:product, :category_id, @categories, :id, :name, {:prompt => 'Seleccione una categoría'}, { class: "form-control" })%>
          </div>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Guardar", class:"btn btn-sm btn-success mt-3"%>
      </div>
    <% end %>
  </div>
</div>
