

<div class="card">
  <div class="card-header bg-primary">
    <h1 class="card-title pt-2 text-white">Almacen</h1>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-stripe">
        <thead>
          <tr>
            <th>Cod</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Costo</th>
            <th>Existencia</th>
            <th>Categoría</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td><%= product.name %></td>
            <td><%= product.description %></td>
            <td><%= product.price %></td>
            <td><%= product.stock %></td>
            <td><%= product.category.name %></td>
            <td class="d-grid gap-2"><%= link_to 'Ver', product, class: "btn btn-info btn-block text-white" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <%= link_to '+ Agregar Producto', new_product_path, class: "btn btn-info btn-sm text-white" %>
  </div>
</div>