<section class="row justify-content-center">
  <div class="col-auto mt-5">
    <div class="card">      
      <div class="card-header text-center">
        <% if @product.photo.attached? %>
          <%= image_tag @product.photo, size: "250x200", class:"rounded" %>
        <% else %>
          <img src="https://www.yeaah.co/wp-content/uploads/2021/08/producto-sin-imagen.jpg" alt="" width="250" height="200">
        <% end %>
        <h5 class="card-title"><%= @product.name %></h5>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Descripción: <%= @product.description %></li>
          <li class="list-group-item">Existencia: <%= @product.stock %></li>
          <li class="list-group-item">Costo: <%= @product.cost %></li>
          <li class="list-group-item">Precio de Venta: <%= @product.price %></li>
          <li class="list-group-item">Categoría: <%= @product.category.name %></li>
        </ul>
      </div>
      <div class="card-footer text-center">
        <%= link_to "Editar", edit_product_path(@product), class: "card-link" %>
        <%= link_to "Volver", products_path, class: "card-link" %>
        <%= link_to "Eliminar", @product, data: {turbo_method: :delete}, class: "card-link" %>
      </div>
    </div>
  </div>
</section>
