<section class="row justify-content-center">
  <div class="tarjeta">
    <div class="tarjeta-hero">
      <% if @product.photo.attached? %>
        <%= image_tag @product.photo, size: "250x200", class:"img" %>
      <% else %>
        <img src="https://www.yeaah.co/wp-content/uploads/2021/08/producto-sin-imagen.jpg" alt="" width="250" height="200">
      <% end %>
    </div>
    <hr>
    <div>
      <h5 class="tarjeta-title color-tarjeta-title"><%= @product.name %></h5>
      <ul>
        <li><strong>Descripción:</strong> <%= @product.description %></li><hr>
        <li><strong>Existencia:</strong> <%= @product.stock %></li><hr>
        <li><strong>Costo:</strong> <%= number_to_currency(@product.cost) %></li><hr>
        <li><strong>Porcentaje de ganacia:</strong> <%= @product.markup_percentage %>%</li><hr>
        <li><strong>Precio de Venta:</strong> <%= number_to_currency(@product.sale_price) %></li><hr>
        <li><strong>Categoría:</strong> <%= @product.category.name %></li>
      </ul>
    </div>
    <hr>
    <div class="card-footer text-center">
      <%= link_to products_path do %>
        <i class='bx bx-arrow-back bxs card-link atras'></i>
      <% end %>
      <%= link_to edit_product_path(@product) do %>
        <i class='bx bxs-message-edit bxs editar'></i>
      <% end %>
      <%= link_to @product, data: {turbo_method: :delete} do %>
        <i class='bx bxs-trash bxs card-link borrar'></i>
      <% end %>
    </div>
  </div>
</section>
