<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">ADsystem</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <% if user_signed_in? %>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% unless current_user.Empleado? %>
          <div class="dropdown mx-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="Buttonusers" data-bs-toggle="dropdown" aria-expanded="false">
              Usuarios
            </button>
            <ul class="dropdown-menu" aria-labelledby="Buttonusers">
              <li><%= link_to 'Agregar empleado', new_user_path, class: "dropdown-item" %></li>
              <hr class="dropdown-divider">
              <li><%= link_to "Editar datos",  edit_user_registration_path, class: "dropdown-item" %></li>
              <hr class="dropdown-divider">
              <li><%= link_to "Iniciar Sesión",  new_user_session_path, class: "dropdown-item" %></li>
              <hr class="dropdown-divider">
              <li><%= link_to "Lista de empleados",  users_path, class: "dropdown-item" %></li>
              <hr class="dropdown-divider">
              <li><%= button_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
            </ul>
          </div>
        <% end %>
        <div class="dropdown mx-2">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="Buttonproducts" data-bs-toggle="dropdown" aria-expanded="false">
            Productos
          </button>
          <ul class="dropdown-menu" aria-labelledby="Buttonproducts">
            <li><%= link_to 'Crear Categoría', new_category_path, class: "dropdown-item" %></li>
            <hr class="dropdown-divider">
            <li><%= link_to 'Categorías', categories_path, class: "dropdown-item" %></li>
            <hr class="dropdown-divider">
            <li><%= link_to 'Agregar Producto', new_product_path, class: "dropdown-item" %></li>
            <hr class="dropdown-divider">
            <li><%= link_to 'Almacen', products_path, class: "dropdown-item" %></li>
          </ul>
        </div>

        <div class="dropdown mx-2">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="Buttonnotes" data-bs-toggle="dropdown" aria-expanded="false">
            Notas
          </button>
          <ul class="dropdown-menu" aria-labelledby="Buttonnotes">
            <li><%= link_to 'Crear Nota', new_note_path, class: "dropdown-item" %></li>
            <hr class="dropdown-divider">
            <li><%= link_to 'Notas', notes_path, class: "dropdown-item" %></li>
          </ul>
        </div>

        <div class="dropdown mx-2">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="Buttonclients" data-bs-toggle="dropdown" aria-expanded="false">
            Clientes / Proveedores
          </button>
          <ul class="dropdown-menu" aria-labelledby="Buttonclients">
            <li><%= link_to 'Crear Cli. / Prov.', new_entity_path, class: "dropdown-item" %></li>
            <hr class="dropdown-divider">
            <li><%= link_to 'Clientes / Proveedores', entities_path, class: "dropdown-item" %></li>
          </ul>
        </div>
      </ul>
    </div>
  <% end %>
  </div>
</nav>
